.scroller__navigation {
	position: fixed;
	right: 20px;
	top: 50%;
	transform: translate(-50%, -50%);
}

.scroller__navigation ul {
	list-style: none;
}
.scroller__navigation ul li {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	margin: 20px 0px;
	background-color: red;
	opacity: 0.6;
	cursor: pointer;
}
.scroller__navigation ul li.active {
	background-color: blue;
}
/* first dot will not have margin: */
.scroller__navigation ul li + li {
	margin: 20px 0px;
}
