* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	overflow: hidden;
}
img {
	max-width: 100%;
}
section {
	height: 100vh;
	width: 100vw;
	text-align: center;
}
section p {
	max-width: 75%;
	margin: 16px auto;
}
